stages:
  - build
  - test
  - deploy

# ================= BUILD =================
build_job:
  stage: build
  tags:
    - local
  script:
    - echo "===== VAO THU MUC CHUA CODE ====="
    - cd DatLichPhongKham  # <<< LENH QUAN TRONG NHAT
    - echo "===== BAT DAU BUILD ====="
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - "DatLichPhongKham/target/*.jar"
    expire_in: 1 hour

# ================= TEST =================
test_job:
  stage: test
  tags:
    - local
  script:
    - cd DatLichPhongKham  # Cung phai vao thu muc nay moi test duoc
    - echo "===== RUN TESTS ====="
    - mvn test

# ================= DEPLOY =================
deploy_job:
  stage: deploy
  tags:
    - local
  only:
    - main
  script:
    - cd DatLichPhongKham # Vao day de docker-compose thay file docker-compose.yml
    - echo "===== RESTARTING CONTAINERS ====="
    - docker-compose down
    - docker-compose up -d --build
    - Start-Sleep -Seconds 10
    - docker ps -a