version: "3.9"
#bỏ env vào
services:
  mysql:
    image: mysql:8.0
    container_name: datlichphongkham-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: quangtruong1
      MYSQL_DATABASE: phongkhambenh
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-pquangtruong1"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: datlichphongkham-app
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/phongkhambenh?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: quangtruong1

      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: false

      JWT_SECRET: YnRfYXBpX29ubF8xYnRfYXBpX29ubF8xYnRfYXBpX29ubF8xYnRfYXBpX29ubF8x
      JWT_DURATION: 604800

      ADMIN_USERNAME: admin
      ADMIN_PASSWORD: 123456
      ADMIN_EMAIL: admin@gmail.com

    depends_on:
      mysql:
        condition: service_healthy

volumes:
  mysql_data: